<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0072aa">
    <title>{month}</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>

    <h1>Cybernetic Meadow</h1>
    <p class="hug">A bouquet of geeky stuff.</p>
    <h2>{month}</h2>
    {posts}

    <p id="footer">
        <a href="{previous}">Previous Month</a>
    </p>



</body>
</html>